<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }} Configuration Center</title>
    <link rel="icon" href="../static/images/数据.ico">
    <link rel="stylesheet" href="../static/css/filter_style.css" type="text/css">

</head>
<body>
    <h2>
        <img class="avatar" alt="Avatar" src="../static/images/头像.png">
        数据清洗配置信息
    </h2>
    <form method="post" action="/filter/update">
        <ul class="custom-form">
<!--            <li>原始HTML文件路径:<input type="text" name="RAW_HTML_PATH" autocomplete="off"></li>-->
            <label>原始HTML文件路径:</label>
                <input name="raw_html_path" id="raw_html_path" value="{{config.raw_html_path}}" placeholder="绝对路径:D:/Data/raw_htmls/" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></li>

             <label>清洗后JSON的存放路径:</label>
                <input name="puried_json_path" id="puried_json_path" value="{{config.puried_json_path}}"  placeholder="绝对路径:D/Output/jsons/" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></li>

             <label>当前正在使用何种本地模型:</label>
                <input name="local_model" id="local_model" value="{{config.local_model}}" placeholder="qwen2" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></li>

             <label>学校名称:</label>
                <input name="school_name" id="school_name" value="{{config.school_name}}" placeholder="北京大学" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></li>

             <label>学校简写:</label>
                <input name="school_simple" id="school_simple" value="{{config.school_simple}}" placeholder="pku" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></li>

             <label>开启进程(请根据实际需求和本机能力来决定):</label>
                <input name="maxnum_processes" id="maxnum_processes" value="{{config.maxnum_processes}}" placeholder="3" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></li>
        </ul>
    </form>
    <div class="container">
        <button id="submit_update" class="rounded-button" >修改</button>
    </div>
        <div class="container">
        <button id="submit_start" class="rounded-button" >启用</button>
    </div>
    <img alt="Walking Totoro" class="totoro" src="../static/images/totoro.gif">
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    btn = document.getElementById('submit_update')
    function post_config(){
        // 修改清洗配置
        axios({
          method: 'post',
          url: "filter/update",
            headers:{
                'Content-Type':'application/json'
            },
          data: {
              Config:{
                  raw_html_path: document.getElementById("raw_html_path").value,
                  puried_json_path: document.getElementById("puried_json_path").value,
                  local_model: document.getElementById("local_model").value,
                  school_name: document.getElementById("school_name").value,
                  school_simple: document.getElementById("school_simple").value,
                  maxnum_processes: document.getElementById("maxnum_processes").value
              }
          }
        }).then(function (response){
            alert("修改成功")
            console.log(response)
        }).catch(function (error){
            alert("修改失败")
            console.log(error)
        })
    }
    btn.addEventListener('click',post_config)

    btn1 = document.getElementById('submit_start')
    function get_start(){
        // 启动程序
        axios.get('/filter/start')
          .then(function (response) {
            // 处理成功情况
              alert("清洗成功")
            console.log(response);
          })
          .catch(function (error) {
            // 处理错误情况
              alert("清洗失败")
            console.log(error);
          })
          .finally(function () {
            // 总是会执行
          });
    }
    btn1.addEventListener('click',get_start)
</script>
</body>
</html>